body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Lucida Console", Monaco, monospace; */
    
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 1250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.loginForm {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #ffa500;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-size: 14px;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: orange;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #f8f8f8; 
    cursor: pointer;
}

.content {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.confirmation {
    text-align: center;
    margin-top: 150px;
}

.availableProjectsHeading {
    font-size: 20px;
}

.popup {
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.homePageImg {
    margin-top: 78px;

}

.homePageImgText {
    font-size: 24px;
}

.homePageWelcome {
    font-size: xxx-large;
}

.homePageTxt {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    width: 100%; /* Full width */
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .paper{
      padding: 20px;
  }

  .gridHeading {
      text-align: center;
  }

  .nameCard {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .card {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 15px 50px 30px 50px;
  }

   .editProfileCard {
    margin-left: auto;
    margin-right: auto;
    width: 21em;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 15px 50px 30px 50px;
   }